*{
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body{
  color: #fff;
}

/* GLOBAL STYLES */
a{
  color: #fff;
  text-decoration: none;
}
h1{
  font-size: 62px;
  letter-spacing: .005em;
  line-height: 1.125;
  margin-bottom: .5rem;
  padding-bottom: 1.25rem;
}
p{
  line-height: 2; 
  margin-bottom: 1rem;
}

ul , li{
  list-style: none;
}

img{
  max-width: 100%;
  display: block;
}


.text-with{
    color: white;
}

.text-black{
    color: #222;
}
button{
  background: transparent;
  border: 1px solid;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  min-width: 120px;
  padding: .75rem 1.5rem;
  text-transform: uppercase;
  transition: .65s;
}
button:hover{
  background: #fff;
  border-color: #fff;
  color: #628;
}

/* HEADER STYLES */
.header{
  height: 100vh;
  background: #222;


}
.header-nav{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header-menu{
  display: flex;
  list-style: none;
  z-index: 2;
}
.header-menu-item{
  font-size: .875rem;
  margin-left: 1rem;
}

.header-content{
  margin-top: 25vh;
  max-width: 640px;
}

/* COMPONENTS */
.logo{
  font-size: 1.125rem;
  font-weight: 100;
  letter-spacing: .005em;
  text-transform: uppercase;
}
.btn-primary{
  background: #628;
  border-color: #628;
  margin-right: .5rem;
}
.container{
  margin: auto;
  max-width: 1140px;
  padding: 1.5rem;
}

 /* GEOMETRIC SHAPE BACKGROUND 
 .geometric-bg{
  background: #628;
  height: 1100px;
  position: absolute;
  transform: rotate(-35deg);
  top: -750px;
  left: 70%;
  width: 1760px;
  z-index: 1;
}
.geometric-bg:after{
  background: #628;
  border-radius: .5rem;
  content: "";
  display: block;
  height: 120px;
  left: -100px;
  position: absolute;
  top: 30%;
  width: 120px;
}
.geometric-bg:before{
  background: #222;
  border-radius: .5rem;
  content: "";
  display: block;
  height: 120px;
  left: -5px;
  position: absolute;
  top: 35%;
  width: 120px;
} */

/* ABOUT */

.about{

    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
    max-width: 100%;
    flex-wrap: wrap;
}



.about > div{
  margin: 5vh;
  flex: 1 1 370px;

}

.about-me{
    display: flex;
    align-items: center;
    border: 1px solid rgb(69, 92, 46);
}


.about img{
  width: 65%;
  border-radius: 5px;
  margin: 0 auto;
}



  /* SERVICES */
  .services{
    
    margin: 10vh auto;
    display: flex;
    justify-content: space-between;
    background: #222;
    flex-wrap: wrap;
    max-width: 100% ;


}

.services > div{
  flex: 1 1 300px;
  margin: 5vh;
}

.services p{
  text-align: center;
}


.services img{
  margin: 0 auto;
}




/* CONTACT */
.contact{
    max-width: 100%;
    display: flex;
    margin: 10vh 0;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact > div{
margin: 10vh;
flex: 1 1 350px;

}

.others{
    display: flex;
    align-items: center;
}

.form-others{
    display: flex;
    justify-content: center;
}

.form-others button{
    background-color: white;
    color:#628;
    margin:2rem 0;

}
.form-others h2{
    text-align: center;
    padding:2rem 0;
}


form{
width: 450px;
border-radius: 8px;
background-color: #628;

}


.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}


.input-field {
    width: 350px;
    padding: 1rem;
    outline: none;
    border: 1px solid chartreuse;
    border-radius: 8px;

}

.input-field:focus {
    border: 2px solid dodgerblue;
}


/* FOTTER */
footer{
  background-color: #222;
}

.ft-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-between;
}

.ft-container > div{
  margin: 2vh 10vh;
  flex: 1 1 300px;
 
}
.ft-container h2{
  padding: 0.45rem;
}


.ft-container li{
  padding: 0.85rem;
}

.ft-container img{
  width: 15% ;
  border-radius: 50px;
}


.footer-copyright{
  background-color: #628 ;
  }
.footer-copyright p{
  text-align: center;
}



