*{
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
}
body{
  color: #fff;
  overflow-x: hidden;
}

/* GLOBAL STYLES */
a{
  color: #fff;
  text-decoration: none;
}
h1{
  font-size: 62px;
  letter-spacing: .005em;
  line-height: 1.125;
  margin-bottom: .5rem;
  padding-bottom: 1.25rem;
}
p{
  line-height: 2.2; 
  margin-bottom: 1rem;
}

.text-with{
    color: white;
}

.text-black{
    color: #222;
}
button{
  background: transparent;
  border: 1px solid;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  min-width: 120px;
  padding: .75rem 1.5rem;
  text-transform: uppercase;
  transition: .65s;
}
button:hover{
  background: #fff;
  border-color: #fff;
  color: #628;
}

/* HEADER STYLES */
.header{
  height: 100vh;
  background: #222;


}
.header-nav{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header-menu{
  display: flex;
  list-style: none;
  z-index: 2;
}
.header-menu-item{
  font-size: .875rem;
  margin-left: 1rem;
}

.header-content{
  margin-top: 25vh;
  max-width: 640px;
}

/* COMPONENTS */
.logo{
  font-size: 1.125rem;
  font-weight: 100;
  letter-spacing: .005em;
  text-transform: uppercase;
}
.btn-primary{
  background: #628;
  border-color: #628;
  margin-right: .5rem;
}
.container{
  margin: auto;
  max-width: 1140px;
  padding: 1.5rem;
}

/* GEOMETRIC SHAPE BACKGROUND */
.geometric-bg{
  background: #628;
  height: 1100px;
  position: absolute;
  transform: rotate(-35deg);
  top: -750px;
  left: 70%;
  width: 1760px;
  z-index: 1;
}
.geometric-bg:after{
  background: #628;
  border-radius: .5rem;
  content: "";
  display: block;
  height: 120px;
  left: -100px;
  position: absolute;
  top: 30%;
  width: 120px;
}
.geometric-bg:before{
  background: #222;
  border-radius: .5rem;
  content: "";
  display: block;
  height: 120px;
  left: -5px;
  position: absolute;
  top: 35%;
  width: 120px;
}

/* ABOUT */

.about{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}



.about-me{
    width: 65%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    border: 1px solid chartreuse;


}



.about-image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.about img{
    width: 50%;
    border-radius: 0.25rem;
}


  /* SERVICES */
  .services{
    width: 100%;
    height: 55vh;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    background: #222;


}


.services-img{
    width: 100%;
    display: flex;
    justify-content: center;
}


/* CONTACT */
.contact{
    width: 100%;
    display: flex;
    margin-top: 10vh;
    margin-bottom: 15vh;
    justify-content: space-around;
}

.contact div{
    padding: 0 50px;
}

.others{
    width: 50%;
    display: flex;
    align-items: center;
}

.form-others{
    width: 60%;
    display: flex;
    justify-content: center;
}

.form-others button{
    background-color: white;
    color:#628;
}
.form-others h2{
    text-align: center;
    padding:25px 0;
}
form{
width: 450px;
border-radius: 8px;
background-color: #628;

}


.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}


.input-field {
    width: 350px;
    padding: 10px;
    outline: none;
    border: 1px solid chartreuse;
    border-radius: 8px;

}

.input-field:focus {
    border: 2px solid dodgerblue;
}

footer{
    width: 100%;
    height: 220px;
    background-color: #222;
}