/*aqui fica a parte do codigo do navigation*/

.navigation{
    width: auto;
    height: 100vh;
    background: #1D1840;
    background-image:linear-gradient(to top, rgba(4, 20, 102, 0.52), rgba(14, 11, 13, 0.73)),
    url('../images/luca-bravo-XJXWbfSo2f0-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}


nav{
width: 100%;
float: left;
}

.navigation-header{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 20px;
    padding: 10px 0;
    border-bottom: 4px solid #5A7334;
}

.navigation-header li{
    display: inline;
}

.navigation-header li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #fff;

}


/* Aqui fica a parte das informações social */
.social{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.social-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-content a{
    text-decoration: none;
    border: none;
}

.social-content .fa{
    font-size: 8rem;
    height: auto;
    color: #5A7334;
    margin: 8px;
    padding: 12px;

}

.social-content .text-title{
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    font-family: "DM Sams", sans-serif;

}

.social-content .text-subtitle{
color: aliceblue;
font-weight: 200;
font-size: 16px;
margin-top: 10px;
line-break: anywhere;
width: 350px;
text-align: center;
}

/* PARTE DO SOBRE MIM */

.about-me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    padding: 18px 80px;
}



.about-me .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 700px;
    padding: 0;
}


.about-me .content .text-title{
    line-break: anywhere;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    margin: 20px 0;
    line-height: 1.5;
}

.about-me .content .text-subtitle{
    width: 780px;
    line-break: anywhere;
    font-weight: 200;
    color: #fff;
    font-size: 22px;
    line-height: 1.8;
}

/* ------------------ AQUI FICA A PARTE DA LINGUAGENS E PROGAMAÇÃO ---------------------- */
.tecnologias{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/wave.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tecnologias__header{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 10px;
}

.tecnologias__header .text-title{ 
    color: #fff;
    font-family: 700;
    font-size: 40px;
}

.tecnologias__header .text-subtitle{
    color: #fff;
    padding: 28px 0;
    font-size: 18px;
    line-break: anywhere;
    width: 500px;
    text-align: center;
}


.tecnologias__content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    width: 920px;
    border-radius: 22px;


}

.display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 22px;

}

.one, .two, .three{
    border-right: 1px solid black;

}

.display .fa{
    font-size: 6rem;
    height: auto;
    color: #5A7334;
    margin: 8px;
    padding: 12px;
}


.display .text-title{
    text-align: center;
    padding: 16px 0;
    font-weight: 700;
    color: #0d0d0d;
    font-size: 28px;
}

.display .text-subtitle{
    text-align: center;
    padding: 20px 0;
}

/* AQUI FICA A PARTE DE PROJETOS */
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 0;
}

.projects__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18px 0;

}

.projects__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.project {
    width: 300px;
    height: 160px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: #1D1840;

}

.project>.title {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #5A7334;
    border-radius: 5px ;
    border-color: #5A7334;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


/* AQUI FICA A PARTE DA LINHA DO TEMPO E O ACESSE MEU CURRICULO */

.storyline{
    height: 60vh;
    background-color: #5A7334;
    opacity: 0.8;
    margin-top: 10rem;
    border-radius: 12px;
}

.storyline__header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.storyline__header>.tittle{
    width: 300px;
    font-size: 28px;
    color: #0d0d0d;
    font-weight: 700;
}

.storyline__curriculo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    padding: 2rem 0;

}

.storyline__curriculo>a{
    width: 250px;
    background-color: #1D1840;
    border-radius: 15px;
    margin: 1rem 0;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.storyline__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5rem 0;
}

.experiencia {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.experiencia::before {
    content: '';
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #000;
}

.experiencia>.subtittle {
    font-size: 18px;
    font-weight: bold;
    padding: 1rem 0;
    color: #fff;
}

.experiencia> .descricao {
text-align: center;
}



/* AQUI FICA A PARTE DE FEEDBACKS DOS CLIENTES */
.feedbacks{
    background-color: #F5F5F5;
    height: 60vh;
    border-radius: 12px;
}


.feedbacks__header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 0;
}

.feedbacks__header>.tittle{
    font-size: 22px;
    font-weight: 700;
    padding: 1rem 0;
}

.feedbacks__header>.subtittle{
    width: 520px;
    font-size: 18px;
    text-align: center;
}

/* AQUI FICA A PARTE DO FORMULARIO DE ENTRE EM CONTATO */

.contact{
  
        width: 80%; /* Definindo uma largura máxima para a seção */
        max-width: 920px;
        height: 60vh; /* Definindo uma altura fixa para a seção */
        margin: 5rem auto; /* Centralizando horizontalmente */
        background-color: #5A7334; /* Apenas para visualização, pode ser removido */
        opacity: 0.8;
        border-radius: 12px;
}

.contact__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    text-align: center;
}

.contact__header>.tittle{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    padding: 12px 0;
}

.contact__header>.subtittle{
    width: 520px;
    font-weight: 200;
    color: #fff;
    line-height: 1.2;

}


.contact__form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 920px;
}

.group-form {
    display: flex;
    flex-direction: row; /* Alteração para alinhar os inputs lado a lado */
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.group-form input,
.group-form textarea,
.group-form fieldset {
    border: 1px solid #ccc;
    flex: 1; /* Adicionado para que os inputs ocupem todo o espaço disponível */
    width: 280px;
    margin-right: 10px; /* Espaçamento entre os inputs */
    padding: 12px;
    border-radius: 8px;
    box-sizing: border-box;
}



.group-form.rating {
    display: flex;
    align-items: center;
}

.rating-label {
    font-size: 20px;
    color: #ddd;
    margin-right: 10px;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 25px;
    color: #ddd;
    margin-right: 5px; /* Reduzi a margem para evitar o corte */
}

.rating label:before {
    content: "\2605";
}

.rating input:checked ~ label {
    color: rgb(78, 54, 19);
}

button[type="submit"] {
    border: none;
    border-radius: 8px;
    padding: 15px 50px;
    background-color: #1D1840;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color:
}


/* AQUI FICA A PARTE DO FOOTER */
footer {
    display: flex;
    justify-content: space-around; /* Coloca o conteúdo dos filhos no início e no final do elemento pai */
    align-items: center; /* Alinha verticalmente ao centro */
    padding: 20px;
    background-color: #292526; /* Apenas para visualização */
    color: #fff; /* Apenas para visualização */
    border-radius: 8px;
    height: 30vh;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 260px;
    margin-bottom: 20px; 
}

.title{
    font-size: 30px;
    font-weight: 600;
}

.footer__contacts {
    display: flex;
    flex-direction: row;
    gap: 5px; /* Espaçamento entre os elementos */
}

.footer__contacts {
    display: flex;
    gap: 10px; /* Espaçamento entre os elementos */
}

.footer__contacts li {
    display: flex;
    align-items: center;
}

.footer__contacts .fa{
    font-size: 28px;
    height: auto;
    color: #5A7334;
    margin: 0 8px;
    
}

.footer__contacts li span {
    font-size: 18px;
    text-align: center;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os elementos */
}

.footer__content>a{
    width: 200px;
    text-decoration: none;
    background-color: #5A7334;
    border-radius: 8px;
    padding: 1rem;
    color: #F5F5F5;
    font-weight: 700;
    font-size: 14px;
}

.footer__menu>a{
    text-decoration: none;
    color: #F5F5F5;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    padding: 10px 0;
}

.title {
    font-weight: bold;
    margin-bottom: 10px; /* Adiciona espaço abaixo do título */
}
